@import 'http://webfonts.ru/import/opensans.css';
/*
	Open Sans, 300, 300 italic, 400, 400 italic, 600, 600 italic, 700, 700 italic, 800, 800 italic
*/
*, *:before,
*:after {
	box-sizing: border-box;
}
html {
	font-family: 'Open Sans', sans-serif;
}
p {
	margin: 0;
}
a {
	color: #fff;
	text-decoration: none;
}
.row {
	padding: 0 15px;
}
input {
	outline: none;
}
.header {
	background: url(../images/header-background.png) no-repeat;
	height: 800px;
	padding-top: 50px;
	background-size: cover;
}
.line {
	background: #fff;
	height: 2px;
	width: 20px;
	display: block;
}
.main-logo {
	display: inline-block;
	font-size: 125%;
	font-weight: 600;
	margin: 0 0 0 30px;
}
.main-menu {
	color: #fff;
	display: inline-block;
	float: right;
}
.main-menu .menu-text {
	display: inline-block;
	font-size: 128%;
	vertical-align: middle;
}
.main-menu .lines {
	display: inline-block;
	padding-left: 18px;
	vertical-align: middle;
}
.main-menu hr {
	background-color: #fff;
	border: none;
	height: 2px;
	width: 24px;
}
.slider {
	color: #fff;
	padding-top: 160px;
	text-align: center;
}
.title {
	font-size: 437.5%;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
}
.main-logo span,
.title span {
	color: #f7600e;
}
.subtitle {
	font-size: 156.3%;
	text-align: center;
}
.button-primary {
	background-color: transparent;
	border: 1px solid #65696e;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
	font-size: 100%;
	font-weight: 600;
	height: 50px;
	text-transform: uppercase;
	width: 210px;
	transition: all 0.3s ease-out;
}
.slider .subtitle {
	padding: 5px 0 60px;
}
.slider .button-primary:hover {
	background-color: #f7600e;
	border-color: #f7600e;
}
.slider .button:nth-child(2n) {
	margin-right: 0;
}
.slider .button {
	margin-right: 30px;
}
.slider .circle {
	background: url(../images/arrow-down.png) no-repeat center;
	border: 2px solid #fff;
	border-radius: 50%;
	height: 35px;
	margin-top: 195px;
	width: 35px;
	cursor: pointer;
}
.our-services {
	padding: 100px 0 95px;
	text-align: center;
}
.circle {
	border: 2px solid #c7c9cc;
	border-radius: 50%;
	height: 155px;
	margin: 0 auto;
	width: 155px;
}
.design-img {
	padding-top: 46px;
}
.design-title {
	color: #3b434c;
	font-size: 100%;
	font-weight: 600;
	padding: 25px 0 20px;
	text-transform: uppercase;
}
.design-subtitle {
	color: #3b434c;
	font-size: 87.5%;
	line-height: 26px;
}
.newsletter {
	background: url(../images/newsletter-background.png) no-repeat center;
	text-align: center;
}
.newsletter form {
	padding: 100px 0;
}
.text {
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
	color: #3b434c;
	font-size: 100%;
	font-weight: 300;
	height: 45px;
	padding-left: 20px;
}
.newsletter .text {
	margin-right: 30px;
	width: 560px;
}
.newsletter .button-primary {
	background-color: #f7600e;
	border-color: #f7600e;
	width: 270px;
}
.our-works {
	color: #3b434c;
	padding: 90px 0 100px;
	text-align: center;
}
.our-works .title {
	font-size: 218.8%;
	font-weight: 600;
}
.our-works .subtitle {
	padding: 15px 0 100px;
	font-size: 100%;
}
.magic{
	position: relative;
}
.overlay {
	position:absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(247, 96, 14, .90);
	border-radius: 10px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-out;
}
.header-overlay {
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	font-size: 156%;
	margin-top: 75px;
}
.about-overlay {
	color: #fff;
	font-size: 87.5%;
	margin: 20px 55px 50px 55px;
}
.button-overlay {
	background-color: #fff;
	border-radius: 10px;
	border: none;
	color: #f7600e;
	cursor: pointer;
	font-size: 100%;
	font-weight: 600;
	height: 50px;
	text-transform: uppercase;
	width: 210px;
	display: block;
	margin: 0 auto;
}
.magic:hover > .overlay {
	opacity: 1;
	visibility: visible;
}
.our-works .button-primary {
	color: #3b434c;
	margin-top: 100px;
}

.what-clients-say {
	background: url(../images/w-c-s-b.png) no-repeat center;
	height: 500px;
}
.what-clients-say .columns {
	margin: 0;
	text-align: center;
}
.avatar {
	margin-top: 100px;
}
.comment {
	font-size: 156.3%;
	color: #fff;
	font-style: italic;
	margin: 40px 0 35px;
}
.author {
	color: #fff;
	font-size: 112.5%;
	font-weight: 600;
}
.arrow-left {
	height: 30px;
	width: 30px;
	border: 3px solid #707479;
	border-right: transparent;
	border-top: transparent;
	transform: rotate(45deg);
	border-radius: 0 5px;
	float: left;
	margin-top: 230px;
}
.arrow-right {
	height: 30px;
	width: 30px;
	border: 3px solid #707479;
	border-left: transparent;
	border-bottom: transparent;
	transform: rotate(45deg);
	border-radius: 0 5px;
	float: right;
	margin-top: 230px;
}


footer .copyright {
	display: inline-block;
}
footer .designed {
	display: inline-block;
	float: right;
}
footer a:hover {
	color: #f7600e;
}
footer {
	background-color: #3b434c;
	border-top: 2px solid #9da1a6;
	color: #fff;
	font-size: 100%;
	padding: 40px 0;
	text-transform: uppercase;
}
